# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.unity-module-diagnostics.iml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\TCG\Modules\unity-module-diagnostics\.idea\.idea.unity-module-diagnostics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
